/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
    height: 100%;
}

/* Half Page Carousel itself*/
.carousel {
    height: 50%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
    background-color: #EEEEEB;
}

.my-nav-color {
    background-color: white;
}

.img {
    width: 300px;
    height: 70px;
}

.logo-image {
    width: 400px;
    height: 50px;
}

body {
    background-color: #EEEEEB;
}

.nav-test {
    background-color: #7D999B;
}

li {
    margin-right: 40px;
}

.nav2 li {
    margin-right: 10px;
}

.white-bold-text {
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.black-bold-text {
    color: black;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
}

.my-nav-size {
    padding: 20px 40px;
    display: inline-block;
    vertical-align: top;
}

.profile-picture {
    width: 65px;
    height: 65px;
}

.drag-down {
    margin: 100px 0px;
}

.my-page-button-size {
    font-size: 26px;
}

.answers-container {
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.custom-checkbox {
    padding-left: 15px;
}

.answers-inner {
    width: auto;
    text-align: left;
}


.ans-container {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    word-wrap: break-word;
}

.ans-inner {
    width: 300px;
    height: 50px;

    text-align: left;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}