{% extends "base.html" %}

{% block content %}


    <div class="ans-container">

        <form id="form" method="POST">
            <label style="font-size: 35px">Poll to be deleted</label>
            <div>
                <select name="voting_id" id="voting_id">
                    {% for id, lab in vote_labels %}
                        <option value={{ id }}>{{ lab }}</option>
                    {% endfor %}
                </select>
            </div>

             <input style="margin-top: 50px; background-color: darkred; border: black; color: white; padding: 15px 32px; text-align: center; text-decoration: none; font-size: 16px;" type="submit" value="Delete now"/>
        </form>

    </div>

{% endblock content %}


