{% extends "base.html" %}

{% block content %}


    <div class="ans-container">

        <form id="form" method="POST">
            <label style="font-size: 35px">Question to be deleted</label>
            <div>
                <select name="voting_id" id="voting_id">
                    {% for id, lab in vote_labels %}
                        <option value={{ id }}>{{ lab }}</option>
                    {% endfor %}
                </select>
            </div>

             <input style="margin-top: 50px" class="button-admin" type="submit" value="Submit now"/>
        </form>

    </div>

{% endblock content %}


