{% extends "base.html" %}

{% block content %}

    <div class="dropdown">
        <button class="dropbtn">Wybierz głosowanie</button>
        <div class="dropdown-content">
            {% for id, lab in vote_labels %}
                <a href="/vote/{{ id }}">{{ lab }}</a>
            {% endfor %}
        </div>
    </div>

    <form method="POST">
        <div class="answers-container">
            <fieldset>
                <legend>{{ question }}</legend>

                <div class="answers-inner">

                    {% for ans in answers %}
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id={{ ans }} type="checkbox" name={{ ans }}>
                            <label class="custom-control-label" for={{ ans }}>{{ ans }}</label>
                        </div>
                    {% endfor %}
                </div>
                <input style="margin-right: 50px" class="button-admin" type="submit" value="Submit now"/>
            </fieldset>
        </div>

    </form>



{% endblock content %}


