<nav class="navbar fixed-top navbar-expand-lg navbar-light my-nav-color scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="/">
            <img src="/static/img/logo.png" alt="logo">
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
            {% if current_user.is_anonymous %}


                <li class="nav-item">
                    <a class="oauth-container btn darken-4 white black-text  my-nav-size" href="/vote">
                        Vote
                    </a>
                </li>

                <li class="nav-item  ">
                    <a class="oauth-container btn darken-4 white black-text  my-nav-size" href="/results">
                        Results
                    </a>
                </li>


                <li class="nav-item ">
                    <a class="oauth-container btn darken-4 white black-text  my-nav-size" href="/login">
                        <div class="center">
                            <img width="20px" alt="Google sign-in"
                                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                        </div>
                    </a>
                </li>



            {% else %}

                {% if current_user.is_admin == True %}
                    <li class="nav-item dropdown">
                        <a class="oauth-container btn darken-4 white black-text  my-nav-size">
                            ADM
                        </a>
                        <div class="dropdown-content">
                            <a href="/admin/add">Add poll</a>
                            <a href="/admin/delete">Delete poll</a>
                        </div>


                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="oauth-container btn darken-4 white black-text  my-nav-size" href="/vote">
                        Vote
                    </a>
                </li>

                <li class="nav-item  ">
                    <a class="oauth-container btn darken-4 white black-text  my-nav-size" href="/results">
                        Results
                    </a>
                </li>


                <li class="nav-item">
                    <div class="gb_fb" style="display: inline-block"><img class="gb_Ma gbip gb_jb profile-picture"
                                                                          src={{ current_user.profile_pic }}
                                                                                  title="Profil" alt=""
                                                                          aria-hidden="true" data-atf="0">
                    </div>
                    <a style="display: inline-block" class="oauth-container btn darken-4 white black-text  my-nav-size"
                       href="/logout">
                        Logout
                    </a>
                </li>



            {% endif %}


        </ul>
    </div>

    </div>
</nav>